<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\SatelliteAnalytics.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
    <system.webServer>
	    <applicationInitialization doAppInitAfterRestart="true">
		    <add initializationPage="/api/RedisApplication/RedisTop5ByModuleAndOperation" />
	    </applicationInitialization>
    </system.webServer>
</configuration>
<!--ProjectGuid: CAF02F97-039B-4B53-9D27-7B4B7F4857C5-->